.aside {
  width: 100%;
  font-size: 18px;
  color: #696969;
  text-align: center;
}

.header {
  font-size: 36px;
  color: #e54b4b;
}

.content {
  width: 700px;
  margin: 0 auto;
  p {
    line-height: 25px;
    margin: 15px 0 25px;
  }
}