@import "../../styleVar.css";

.menu {
    text-align: right;
    font-size: 32px;
}

.link {
    letter-spacing: 7px;
    transition: all 150ms;
}

.link a {
    color: $mainColor;
    text-decoration: none;
}

.link:hover {
    letter-spacing: 12px;
}


