@import '../../styleVar.css';

.wrap:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.filter-label {
    width: 400px;
    margin-top: 150px;
    position: absolute;
    float: left;
}

.child-view {
    margin-left: 400px;
    float: right;
}